## --- Visual Studio 核心垃圾 ---
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Aa]rm/
[Aa]rm64/
bld/
bin/
obj/
/out/

*.obj
*.pdb
*.ipch
*.tlog
*.log
*.idb
*.ilk
*.pch
*.exp
*.lib
*.sbr

*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/
*.opensdf
*.sdf
*.db

Thumbs.db
ehthumbs.db
Desktop.ini